<% set_meta_tags title: "新規投稿" %>

<%= render("layouts/header") %>

<div class="idea_new">

<div class="idea_new_top">
    <h1>あなたのアイデア、教えて！</h1>
</div>

<%= form_for(@idea) do |f| %>
    <%= render("ideas/error") %>

    <div class="form_input form_field">
        <%= f.label :title, "アイデア" %>
        <%= f.text_field :title, placeholder: "例）アイデアを共有出来るサービスが欲しい！" %>
    </div>

    <div class="form_input form_field">
        <%= f.label :tag, "タグ" %>
        <%= f.text_field :tag, placeholder: "例）アプリ,サービス,ウェブ" %>
        <p class="supplement">&#x203B;タグはカンマ "," で区切ってください。</p>
        <p class="supplement">&#x203B;スペースや空白文字は無視されます。</p>
    </div>

    <div class="form_tag_list">
        <p>人気のタグ</p>
        <ul class="form_tags">
            <% tag_list.each do |tag| %>
                <li>
                    <p class="tag_click"><%= tag %></p>
                </li>
            <% end %>
        </ul>
    </div>

    <div class="form_input form_area">
        <%= f.label :body, "詳細" %>
        <%= f.text_area :body, placeholder: "例）思いついたアイデアを投稿できるWebサービスがほしいです。", rows: 8 %>
    </div>

    <div class="form_button">
        <%= f.submit('送信', data: {confirm: "アイデア名と詳細は後から変更できません。\nこのまま投稿しますか？"}) %>
        <%= link_to('アイデア一覧へ', ideas_path, data: {confirm: "内容は保存されていません。\nこのまま移動しますか？"}) %>
    </div>
<% end %>

</div>

<script type="text/javascript">
    $("p.tag_click").click(function(event){
        $("input#idea_tag").val(`${$("input#idea_tag").val()},${$(event.target).text()}`);
    })
</script>