<h1>新規Idea登録</h1>

<%= form_for(@idea) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :body %>
    <%= f.text_area :body %>

    <%= f.label :tag %>
    <%= f.text_field :tag %>

    <%= f.submit '送信' %>
    <%= link_to('スレッド一覧へ', ideas_path) %>
<% end %>